
@{
    ViewBag.Title = "Complete";
}

@{
    ViewBag.Title = "Orden completada";
}
<h2>Orden completada!</h2>
<p>Gracias por comprar con nosotros! Tu número de orden es: @Model</p>
<p>
    Sigue explorando con nosotros, tenemos variedad de musica para ti!
    @Html.ActionLink("store","Index", "Home")
</p>